@page "/categoria/create"
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime js

<h2>Nova Categoria</h2>

<CategoriaForm Categoria="@categoriaNew" OnValidSubmit="@CriarCategoria" ButtonTextSubmit="Salvar" ButtonTextCancelar="Cancelar">

</CategoriaForm>

@code {
    Categoria categoriaNew = new Categoria();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await Focus("txtCategoriaNome");
        }
    }

    public async Task Focus(string elementId)
    {
        await js.InvokeVoidAsync("focusById", elementId);
    }

    async Task CriarCategoria()
    {
         var zub = await http.PostAsJsonAsync<Categoria>("api/Categoria", categoriaNew);
        navigation.NavigateTo("categoria");
    }

}
